extends skeleton 

block content
  h1= title
  ul Package Repository 
    li: a(href="http://repos.sushihof.de/debian") http://repos.sushihof.de/debian 
  pre(class="code-example prettyprint"): code(class="code-example-body"): | echo "deb http://repos.sushihof.de/debian/ jessie main" >> /etc/apt/sources.list
        | wget http://repos.sushihof.de/debian/sushihof.gpg
        | sudo apt-key add sushihof.gpg
        | rm sushihof.gpg
        | sudo apt-get update
